html,
body {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.container-landing-page {
  width: 110%;
  height: 110%;

  /* Explore more with the flexbox properties! */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.main-container {
  background-color: lightgray;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container2 {
  background-color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container3 {
  background-color: blanchedalmond;

  display: flex;
  justify-content: center;
  align-items: center;
}

.interface-container {
  background-color: whitesmoke;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-interface-container {

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.image-interface-container {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  position: relative;
}

.imageButtons {

  display: flex;
  flex-direction: column;

}



h1 {
  font-family: cursive;
  font-size: x-large;
  font-weight: 900;
  font-size: 30px;
}

a {
  font-family: fantasy;
  font-stretch: expanded;
  font-size: 15px;
  font-weight: 200;
}

p1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 10px;
}

/* FLEXBOX PROPERTIES */
/* 
flex-direction
flex-wrap
flex-flow
justify-content
align-items
align-content
*/